/* TODO sans serif font */
    /* General */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    min-height: calc(100vh - 40vh);
}

main > article {
    flex: 1;
}

main > nav,
main > aside {
    flex: 0 0 20vw;
}

main > nav {
    order: -1;
}

header, footer, article, nav, aside {
    padding: 1em;
}

header, footer {
    height: 20vh;
}

footer {
    padding-bottom: 200px;
}


/* Utils */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.card {
    margin: 13px;
    padding: 13px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card__title
{
}

.soft-list
{
    list-style: none;
    padding: 0 7px 13px 7px;
}

.soft-list > li > a
{
    color: #1D0B9D;
    text-decoration: none;
}

/* Header */
header
{
    text-align: center;
    background-color: #4285F4;
    color: white;
}

/* Nav */
nav
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border-right: 1px solid #D7DBDD;
    background: #1e73df;
}

nav > ol {
    list-style-type: none;
    padding-left: 0;
}

.nav__section__item {
    padding: 10px 20px;
    color: white;
    font-size: 1.2rem;
}

.nav__section__item > a
{
    color: white;
    text-decoration: none;
}

.nav__section {
    padding: 10px;
}

/* Content */
article
{
    background-color: #ECEDED;
}

/*  - infos */
#classification
{
    width: 100%;
}

#classification__species
{
    background-color: #448AE3;
    font-weight: bolder;
    color: white;
}

#classification__species > td:first-child
{
    font-weight: bolder;
}

/*  - video */
#wrap-video {
    align-items: center;
}

/* - text */
#wrap-text {
    margin-top: 47px;
}


/* Gallery */
#wrap-gallery
{
    background-color: #ECEDED;
    flex: 0 0 20vw;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 19px;
    justify-content: flex-start;
    border: 1px solid #ccc;
    background-color: #ECEFFF;
}

.gallery__item {
    margin: 5px;
}

.gallery__item > figcaption {
    padding: 15px;
    text-align: center;
    background-color: #797676;
    color: white;
}

/* Responsive */
@media only screen and (max-width: 1250px) {
    nav {
        display: none;
    }
}

@media only screen and (max-width: 1026px) {
    #wrap-gallery {
        display: none;
    }
    .column {
        flex: none !important;
    }

    .footer_done_by
    {
        display: none;
    }
}

@media only screen and (max-width: 1026px) {
    main, footer{
        font-size: 30px;
    }
}

/*  - sounds */
#wrap-sounds
{
    margin-top: 27px;
    justify-content: center;
}

/* Footer */
footer
{
    background-color: #138761;
    color: white;
}

#wrap-footer
{
    text-align: center;
}

/*
https://www.quackit.com/html/html_editors/scratchpad/?example=/css/flexbox/tutorial/create_a_website_layout_with_flexbox_example_1
https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_website2

https://paletton.com/#uid=13D0u0kufPkivSIoqQPN3NhKKst
 */

iframe
{
    display: block;
}