.mt-1 {
    margin-top: 11px;
}

.mt-2 {
    margin-top: 22px;
}

.mt-3 {
    margin-top: 33px;
}

.mt-1 {
margin-top: 11px;
}

.mb-2 {
    margin-bottom: 22px;
}

.mb-3 {
    margin-bottom: 33px;
}

.p2 {
    padding: 22px;
}

.input_with_btn{
    display: inline !important;
    width: 86% !important;
}

.btn_for_input {
   width: 8% !important;
}

/* Sport */
.sport__description
{
    text-align: justify;
}

.sport__gallery {
    text-align: center;
}